header{ 
    background-color: #2196f3;
    color: white;
    font-size:  20px;
    padding-left:10px;
    padding-bottom: 11px;
    padding-top: 11px;
    width:100vw;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#form_login{
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.16);
    box-align: right -30px;
    position: relative;
    width:660px;
    height:1150px;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    bottom: -14px;
    right:-345px;
    font-size: 13px;
    border-color: gray;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#input_Email{
    width: 600px;
    height :30px;  
    position: relative;
    right:-20px;
}
.btn{
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 8px;
    width: 40%;
    max-width: 75px;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    letter-spacing: 1px;
    opacity: 0.5;
    right: -265px;
    border-radius: 0px;

    
}
.btn:hover{
    background-color: #326186;
    color: white;
}
.btn:active{
    background-color: #ccc;
}