/* You can add global styles to this file, and also import other style files */
body{
    background-color: white;
    position:static;
    float:none;

}
header{ 
    background-color: #2196f3;
    color: white;
    font-size:  20px;
    padding-left:10px;
    padding-bottom: 11px;
    padding-top: 11px;
    width:100vw;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.outline-primary{
    color:black;  
}
.outline-primary
A:hover{
    color: black;
}
.hello{
    
    height: 20%;
    width: 100%;
}
.hello1{
    color: white;
    font-size:  15px;
    padding-left:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#chieto1{
    font-size: 12px;
    color:black;
    left:370px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    bottom:-10px;
    padding-bottom: -1px;
    float:none;
    padding-top:1rem;
}
#login{
    position: relative;
    top:-39px;
    font-size: 15px;
}
#line{
    border-color:rgb(204, 204, 204);
}
#form_login{
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.16);
    box-align: right -30px;
    position: relative;
    width:660px;
    height:310px;
    padding: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    right:-345px;
    font-size: 13px;
    border-color: gray;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.divs{
    position: relative;
    right:-10px;
    text-align: top;
    right:10px;
}
#input_Email{
    width:600px;
    height :30px;  
    position: relative;
    right:-20px;
    
}
.btn{
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 8px;
    width: 30%;
    max-width: 60px;
    background: transparent;
    border: 1px solid grey;
    color: grey;
    letter-spacing: 1px;
    opacity: 0.5;
    right: -265px;
    border-radius: 0px;

    
}
.btn:hover{
    background-color: #2196f3;
    color: white;
}
.btn:active{
    background-color: #ccc;
}
footer{
    position: relative;
    top: -25px;
    color: black;
}
#blah{
    color:black;
}
.friend{
    bottom: 35px;
    position: relative;
}