<!DOCTYPE html>
<html>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
<body>
  <header><strong>
      uniconne
  </strong></header>
 

  

<p id="chieto1">Get connected with any member of any university, anywhere. <a href="" type="text" class="outline-primary" (click)="isCollapsed = !isCollapsed"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><u id="Learnmore">Learn more</u></a></p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
   <!-- <div class="card">
      <div class="card-body">
          UniConne gets you connected with any member (staff or student) of your university and other universities.
          It allows you to share information with your target recipients very easily and at once; no more having to forward your message to different platforms or groups. Also, our verification system helps to reduce cases of impersonation and sending of false information.
          So join the community today by registering below.
          <a href="" type="text" class="outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><u>Hide this</u></a>
      </div>
    </div>-->
  </div>
  <br>

  <div class="divs">
  <form id="form_login">
      <hr id="line">
    <p id="login">Login</p>
  <div class="friend">
    &nbsp; &nbsp; Email:<br>
    <input id="input_Email" type="text" name="Email"  >
    <br><br>
    &nbsp; &nbsp;Password:<br>
    <input id="input_Email" type="password" name="Password">
    <br><br>
    &nbsp; &nbsp; &nbsp;<u>Forgot Password</u>
    <br><br>
    <button class="btn">Login</button>
  <br>
  <footer>
  Don't have an account? <a href = "/registeration" id="blah"><u>Register now</u></a>   
</footer>
</div>
</form>
</div>

</body>
</html>