<!DOCTYPE html>
<html>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
<body>
  <header><strong>
      uniconne
  </strong></header>
 
<p id="chieto1">Get connected with any member of any university, anywhere. <a href="" type="text" class="outline-primary" (click)="isCollapsed = !isCollapsed"
[attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><u id="Learnmore">Learn more</u></a></p>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
   <!-- <div class="card">
      <div class="card-body">
          UniConne gets you connected with any member (staff or student) of your university and other universities.
          It allows you to share information with your target recipients very easily and at once; no more having to forward your message to different platforms or groups. Also, our verification system helps to reduce cases of impersonation and sending of false information.
          So join the community today by registering below.
          <a href="" type="text" class="outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"><u>Hide this</u></a>
      </div>
    </div>-->
  </div>
  <br>
  <div id="divs">
    <form id="form_login">
      <h5>Register</h5>
      <hr>
        &nbsp; &nbsp;First Name<br>
        <input id="input_Email" type="text" name="Firstname">
        <br><br>
        &nbsp; &nbsp;Surname<br>
        <input id="input_Email" type="text" name="Surname">
        <br><br>
        &nbsp; &nbsp;Gender<br>
        <select id="city">
          <option>Select Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
        <br><br>
        &nbsp; &nbsp;Date of Birth<br>
        <input id="input_Email" type="date" name="birthdate" max="1979-12-31">
        <br><br>
        &nbsp; &nbsp;Email<br>
        <input id="input_Email" type="text" name="Email">
        <br><br>
        &nbsp; &nbsp;Password<br>
        <input id="input_Email" type="password" name="Password">
        <br><br>
        &nbsp; &nbsp;Confirm Password<br>
        <input id="input_Email" type="password" name="Password">
        <br><br>
        <button class="btn">Next</button>
        &nbsp; &nbsp;<br><br><br><p>Already a member? <a href="/login" id ="blah"><u>Login</u></a></p>
      </form>
  </div>
</body>
</html>