<!--<app-login><app-login>-->
<!--<app-registeration></app-registeration>-->
<!--<app-forgot-password></app-forgot-password>-->
<!--<app-profile-page></app-profile-page>-->
<!--<app-edit-profile></app-edit-profile>-->
<app-after-login></app-after-login>