.tije3{
    background-color: white;
}
.tije4{
        background-color: blue;
        color: white;
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
}
p{
    text-align: center;
    color: black; 
}
.tije{
    color: black;
}
form{
    border:3px solid
    #f1f1f1
}
input [type=text],
input [type=password]{
    width: 10%;
    height: 10%;
    padding: 20px;
    margin: 8px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.tije2{
    width: 10%;
    float: right;
    text-align: right;
    position: absolute;
}
.container{
    display: inline-block;
    position: relative;
}
#body{
    background-color: black;
}